
.idea/
.vscode/
.ipynb_checkpoints

*.zip
*.pyc
*.xlsx
*.csv
*.ipynb
*.gz
*.p
*.pdf
*.xls



venv/
env/
__pycache__/
ta-lib/
company_info/
*_history_data/
*_base_data/
*.egg-info/
*/build/
*/dist/
*_linux64/